{
  "Logging": {
    "LogLevel": {
      "Default": "Trace",
      "Microsoft.AspNetCore": "Trace"
    }
  },
  "AzureMachineLearningConnectionString": {
    "Url": "<Inserir a Url>",
    "ApiKey": "<Inserir a Key>"
  },
  "Deploy": {
    "Target": "NGINX",
    "UsePathBase": "<Diretorio que sera hospedado o site dentro do NGINX>"
  }
}
