@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>Este projeto tem o objetivo de demonstrar o uso do Azure Machine Learning como ferramenta para fazer previsão com base em uma regressão Linear.</p>

<p>Projeto construído para a disciplina **Cloud Computing e Internet das Coisas** do curso **Tecnologia em Sistemas para Internet (TSI) do Senac-SP**.</p>

<h2>Funcionalidades</h2>
<ol>
    <li>Faz uma projeção com base em Regressão Linear</li>
</ol>

<h2>Informações adicionais</h2>
<p>A Regressão Linear utilizada é</p>

<math>
    <mi>Preco</mi>
    <mo>=</mo>
    <mi>&#x03b1;</mi>
    <mo>+</mo>
    <msub>
        <mi>&#x03b2;</mi>
        <mn>1</mn>
    </msub>
    <mi>Quartos</mi>
    <mo>+</mo>
    <msub>
        <mi>&#x03b2;</mi>
        <mn>2</mn>
    </msub>
    <mi>Banheiros</mi>
    <mo>+</mo>
    <msub>
        <mi>&#x03b2;</mi>
        <mn>3</mn>
    </msub>
    <mi>AreaUtil</mi>
    <mo>+</mo>
    <msub>
        <mi>&#x03b2;</mi>
        <mn>4</mn>
    </msub>
    <mi>AreaTotal</mi>
    <mo>+</mo>
    <msub>
        <mi>&#x03b2;</mi>
        <mn>5</mn>
    </msub>
    <mi>Anos</mi>
    <mo>+</mo>
    <mi>&#x03b5;</mi>
</math>

