@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>Esta demonstração simula o preço de imóvel com base em um modelo construído e hospedado no Azure Machine Learning.</p>

<p>Azure Machine Learning é MLaaS (Machine Learning as a Service)</p>
